@keyframes color-change {
0% {
background-color: red;
}
20% {
background-color: yellow;
}
60% {
background-color: yellow;
}
100% {
background-color: blue;
}
}

#i{
animation-name: color-change;
animation-duration: 1s;
animation-delay: 0s;
}

body,html{
  display: block;
  height:100%;
  width: 100%;
}

@media only screen and (min-width: 768px){
/* media queries &break point
special rules for medium sized screens,
for example tablets */
}

p{
font-size: 100px;
text-align: center;
}
