@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
</style>

div{
  display: block;
  box-sizing: border-box;
}

body{
  width:100%;
  min-height: 100%;
}

.left{
  width: 15%;
  min-height: 100%;
  background: #000;
  float:left;
  position: fixed;
}

.right{
  width: 85%;
  min-height: 100%;
  float:left;
  padding:70px 40px;
  margin-left: 15%;
  }

.logo{
  width:100%;
  margin-bottom: 20px;
}

ul li a{
  display:block;
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

li{
  text-align: center;
}

h1{
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
}

.big-images{
width:100%;
}

.small img{
  width:100%;
}

.small{
  width:30%;
  margin-right:5%;
  float: left;
}

.small:last-child{
  margin-right:0px;
}

.details{
  display: block;
  margin-top: 30px;
  font-size: 24px;
}

.clear{
  clear: both;
}
